@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nueue";
  src: url("../assets/fonts/NeueHaasDisplayRoman.ttf");
}
@font-face {
  font-family: "Nueue-Medium";
  src: url("../assets/fonts/NeueHaasDisplayMediu.ttf");
}
@font-face {
  font-family: "Nueue-Bold";
  src: url("../assets/fonts/NeueHaasDisplayBold.ttf");
}
@font-face {
  font-family: "Nueue-Black";
  src: url("../assets/fonts/NeueHaasDisplayBlack.ttf");
}

body {
  font-family: "Nueue";
}

.nue-medium {
  font-family: "Nueue-Medium";
}
.nue-bold {
  font-family: "Nueue-Bold";
}
.nue-black {
  font-family: "Nueue-Black";
}